@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap";

@layer base {
  body {
    @apply font-sans;
    font-family: "Inter", "Roboto", "Helvetica Neue", Arial, sans-serif,
      system-ui;
    background-color: #fff8f8;
    min-height: 100vh;
  }

  .sidebar {
    @apply max-w-xs; /* max-width: 250px; */

    &::-webkit-scrollbar {
      @apply w-2; /* width: 0.5rem; */
    }

    &::-webkit-scrollbar-track {
      @apply bg-black; /* background: #000000; */
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-gray-600 rounded-lg; /* background: #374151; border-radius: 10px; */
    }
  }

  @media (min-width: 540px) {
    .sidebar {
      @apply max-w-sm; /* max-width: 300px; */
    }
  }

  .tableBody,
  .formModal {
    &::-webkit-scrollbar {
      @apply w-2 h-2; /* width: 0.5rem; height: 0.5rem; */
    }

    &::-webkit-scrollbar-track {
      @apply bg-gray-200; /* background: #eaedf7; */
    }

    &::-webkit-scrollbar-thumb {
      @apply bg-secondary rounded-lg; /* background: #698abe; border-radius: 10px; */
    }
  }

  .menu {
    @apply sticky; /* position: sticky; */
  }
}
